<p-panel [toggleable]="true">
  <ng-template pTemplate="header">
    <label><strong>Obras</strong></label>
  </ng-template>
  <ng-container>
    <div class="controles">
      <label><strong>Tipo Obras</strong></label>
      <div class="filter-groups">
        <button class="btn btn-sm btn-link" (click)="borrarObras()"><i class="fas fa-trash"></i> Borrar</button>
        <button class="btn btn-sm btn-primary" (click)="filtrarObras()"><i class="fas fa-filter"></i> Filtrar</button>
      </div>
    </div>
    <div class="col-12 p-0">
      <!-- <p-dropdown
        [options]="tiposObra"
        [(ngModel)]="tipoSeleccionado"
        (onChange)="mostrarObraPorTipo($event)"
        placeholder="Seleccione..."
        optionLabel="nombre"
        [showClear]="true"
        [ngStyle]="{width:'100%'}"
      ></p-dropdown> -->
      <p-treeSelect
        [(ngModel)]="tipoSeleccionado"
        [options]="tiposObra"
        display="chip"
        [metaKeySelection]="false"
        selectionMode="checkbox"
        placeholder="Select Item"
        (onNodeSelect)="agregarEliminarNodos($event, 'agregar')"
        (onNodeUnselect)="agregarEliminarNodos($event, 'eliminar')"
      ></p-treeSelect>
    </div>
    <div class="controles">
      <label><strong>&nbsp;</strong></label>
      <div class="filter-groups">
        <button class="btn btn-sm btn-link" (click)="borrarObras()"><i class="fas fa-trash"></i> Borrar</button>
        <button class="btn btn-sm btn-primary" (click)="filtrarObras()"><i class="fas fa-filter"></i> Filtrar</button>
      </div>
    </div>
    <hr />
    <div class="col-12 m-0 p-0">
      <div class="h5 text-muted text-uppercase pt-2">
        Total de Obras
        <span class="h5 text-primary mb-0 font-weight-bold">{{ totalObras }}</span>
      </div>
      <div class="h5 text-muted text-uppercase">
        Monto
        <span class="h5 text-primary mb-0 font-weight-bold">{{ montoTotalInversion | currency }}</span>
      </div>
    </div>
    <hr />
    <ng-container *ngIf="grupoTiposObra.length > 0">
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th>Tipo Obra</th>
            <th>Monto $</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of grupoTiposObra">
            <td>
              <i [ngClass]="item['icon']"></i> <span class="title">{{ item['descripcion'] }}</span>
            </td>
            <td>{{ item['monto'] | currency}}</td>
            <td class="text-center">{{ item['cantidad'] }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </ng-container>
</p-panel>
