<footer class="app-footer">
  <div class="columna-izquierda">
    <img src="./assets/img/sinaloa_logo_trans@3x.png" alt="sinaloa" />
  </div>
  <div class="columna-centro">
    <img src="./assets//img/obras-transparente@2x@2x.png" alt="Obras" />
    <p>
      Portal de Obras Publicas del Estado de sinaloa <br />
      De los Insurgentes 1, Centro Sinaloa, 80129 Culiacán Rosales, Sin.<br />
      66 77 58 70 00 Ext. 39149
    </p>
  </div>
  <div class="columna-derecha">
    <div class="fila">
      <div class="columna">
        <button type="button" class="btn btn-facebook icon" style="margin-bottom: 4px">
          <span>Facebook</span>
        </button>
      </div>
      <div class="columna">
        <button type="button" class="btn btn-twitter icon" style="margin-bottom: 4px">
          <span>Twitter</span>
        </button>
      </div>
      <div class="columna">
        <button type="button" class="btn btn-linkedin icon" style="margin-bottom: 4px">
          <span>LinkedIn</span>
        </button>
      </div>
    </div>
  </div>
</footer>
