<footer class="app-footer">
  <!-- <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-4"><img src="./assets/img/sinaloa_logo_trans@3x.png" alt="sinaloa" /></div>
      <div class="col-sm-4">bsdsf</div>
      <div class="col-sm-4">as21212df</div>
    </div>
  </div> -->

  <div class="columna-izquierda">
    <img  src="./assets/img/logo-new.svg" alt="sinaloa" />
  </div>
  <div class="columna-centro">
    <p><strong>Encuentranos</strong></p>
    <p>
      Sistema de administración de proyectos <br>
      <i class="fas fa-location-dot"></i> De Los Insurgentes 1, Centro Sinaloa, 80129 Culiacán Rosales, Sinaloa. <br />
    </p>
    <br />
    <p><strong>Para mayor información comunicate a</strong></p>
    <p><i class="fas fa-phone"></i> 66 77 58 70 00 Ext. 39149</p>
    <br />
    <p><strong>Versión: </strong>{{version}}</p>
  </div>

 
</footer>
