<div class="animated fadeIn no-action-tools">
  <section class="data-container">
    <div class="h2 data-title">Datos Abiertos</div>
  </section>

  <section class="container mt-4">
    <div class="row row-cols-2">
      <ng-container *ngFor="let card of cards">
        <div class="col">
          <div class="card shadow">
            <div class="card-body p-0 clearfix">
              <img src="{{ './assets/img/' + card.imagen }}" class="img-svg-card p-4 mr-3 float-left" />
              <div class="pt-4 text-muted text-uppercase font-weight-bold font-sm">{{ card.descripcion }}</div>
              <div class="h3 text-primary mb-0">
                <strong>{{ card.cantidad | number }}</strong>
              </div>
              <div class="group-buttons float-right mr-3">
                <button type="button" class="collapsed-button btn btn-outline-success btn-rounded">
                  <i class="far fa-file-pdf"></i>
                </button>
                <button type="button" class="collapsed-button btn btn-outline-primary btn-rounded">
                  <i class="far fa-file-excel"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    
  </section>
</div>
