<div class="animated fadeIn no-action-tools">
  <section class="data-container">
    <div class="h2 data-title">Datos Abiertos</div>
  </section>

  <section class="container-fluid mt-4">
    <div class="datos-abiertos row justify-content-md-center">
      <div class="h3 data-title text-center">Totales</div>
      <div class="card-group">
        <div class="col-md-3" *ngFor="let card of cards">
          <div class="card bg-gray-200">
            <img src="{{ './../../../assets/img/' + card.imagen }}" class="card-img-top mx-auto" alt="..." />
            <div class="card-body">
              <div class="cantidad h4 mb-0 text-center">{{ card.cantidad | number }}</div>
              <div class="text-center">
                <small class="descripcion">{{ card.descripcion }}</small>
              </div>
              <div class="text-center buttons">
                <button class="btn btn-rounded btn-success"><i class="fas fa-file-pdf"></i></button>
                <button class="btn btn-rounded btn-primary"><i class="fas fa-file-excel"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid mt-4">
    <div class="datos-abiertos row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="row box-500">
              <div class="col-md-6 p-0">
                <ngx-charts-bar-vertical
                  [view]=""
                  [scheme]="colorScheme"
                  [results]="single"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [legendPosition]="legendPosition"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  [showGridLines]="true"
                >
                </ngx-charts-bar-vertical>
              </div>
              <div class="col-md-4">
                <ngx-charts-pie-chart
                  [view]=""
                  [scheme]="colorScheme"
                  [results]="single"
                  [gradient]="gradient"
                  [legend]="false"
                  [legendPosition]="legendPosition"
                  [labels]="false"
                  [doughnut]="false"
                >
                </ngx-charts-pie-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="row box-500">
              <div class="col-md-6 p-0">
                <ngx-charts-bar-horizontal
                  [view]="view"
                  [scheme]="colorScheme"
                  [results]="single"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                >
                </ngx-charts-bar-horizontal>
              </div>
              <div class="col-md-4">
                <ngx-charts-pie-chart
                  [view]=""
                  [scheme]="colorScheme"
                  [results]="single"
                  [gradient]="gradient"
                  [legend]="false"
                  [legendPosition]="legendPosition"
                  [labels]="false"
                  [doughnut]="false"
                >
                </ngx-charts-pie-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
