<div *ngFor="let municipio of datosGlobalesMunicipio">
    <div class="modal-header" ngxModalDraggable>
        <div class="container no-cursor">
        <div class="row">
            <div class="col-md-3">
            <small>Municipio</small>
            <p style="font-size: xx-large;"> {{ municipio.municipio }} </p>
            </div>
            <div class="col-md-2">
            <small>Fecha de consulta</small>
            <p>{{ fechaConsulta | date:'MMMM dd, yyyy':'':'es' }}</p>
            </div>
            <div class="col-md-5">
            <small>Monto global</small>
            <p style="font-size: xx-large;">{{ municipio.inversion | currency }} MXN</p>
            </div>
            <div class="col-md-2">
            <small>Porcentaje de la inversión total estatal</small>
            <p>{{ municipio.porcentajeInversion | number: '1.2-2' }}%</p>
            </div>
        </div>
        </div>
        <div class="ml-auto">
        <button type="button" class="close" (click)="bsObraModalRef.hide()">
            <span aria-hidden="true"><i class="fa fa-close"></i></span>
        </button>
        </div>
    </div>
    <div class="card">
        <p-table
            [value]="allObras"
            sortField="municipio"
            sortMode="single"
            [scrollable]="true"
            dataKey="descripcionTipoObra"
            rowGroupMode="subheader"
            groupRowsBy="descripcionTipoObra"
            
        >
            <ng-template pTemplate="header">
            <tr>
                <th>Concepto</th>
                <th>Depend.</th>
                <th>Contratista</th>
                <th>Meta</th>
                <th>Inversión</th>
                <th>Federal</th>
                <th>Estatal</th>
                <th>Municipal</th>
                <th>Av. de Obra</th>
                <th>Saldo</th>
                <th>Ficha</th>
            </tr>
            </ng-template>
            <ng-template
            pTemplate="groupheader"
            let-obra
            >
            <tr pRowGroupHeader>
                <td class="subsubheader" colspan="3">
                    <span class="p-text-bold p-ml-2">
                        {{ obra.descripcionTipoObra }}
                    </span>
                </td>
                <td class="subsubheader">
                    <span class="p-text-bold p-ml-2">
                        {{ calcularTotales(obra.descripcionTipoObra, obra.nombreMunicipio, 'superficieConstruccion') }}
                    </span>
                </td>
                <td class="subsubheader">
                    <span class="p-text-bold p-ml-2">
                        {{ calcularTotales(obra.descripcionTipoObra, obra.nombreMunicipio, 'montoInversion') | currency }} MXN
                    </span>
                </td>
                <td class="subsubheader">
                    <span class="p-text-bold p-ml-2">
                        {{ calcularTotales(obra.descripcionTipoObra, obra.nombreMunicipio, 'federal') | currency }} MXN
                    </span>
                </td>
                <td class="subsubheader">
                    <span class="p-text-bold p-ml-2">
                        {{ calcularTotales(obra.descripcionTipoObra, obra.nombreMunicipio, 'estatal') | currency }} MXN
                    </span>
                </td>
                <td class="subsubheader">
                    <span class="p-text-bold p-ml-2">
                        {{ calcularTotales(obra.descripcionTipoObra, obra.nombreMunicipio, 'municipal') | currency }} MXN
                    </span>
                </td>
                <td class="subsubheader">
                    <span class="p-text-bold p-ml-2">
                        {{ calcularPromedio(obra.descripcionTipoObra, obra.nombreMunicipio, 'porcentajeAvance') | number: '1.2-2' }}%
                    </span>
                </td>
                <td colspan="2" class="subsubheader">
                    <span class="p-text-bold p-ml-2">
                        {{ calcularTotales(obra.descripcionTipoObra, obra.nombreMunicipio, 'importePorPagar') | currency }} MXN
                    </span>
                </td>                                                                                 
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-obra let-rowIndex="rowIndex">
                <tr>
                    <td pTooltip="{{obra.objeto}}" tooltipPosition="left">
                        {{ obra.objeto | slice:0:30 }}
                    </td>
                    <td>
                        {{ obra.siglas }}
                    </td>
                    <td pTooltip="{{obra.descripcionContratista}}" tooltipPosition="left">
                        {{ obra.descripcionContratista | slice:0:30 }}
                    </td>
                    <td>
                        {{ obra.superficieConstruccion }} {{ obra.unidadMedida }}
                    </td>
                    <td>
                        {{ obra.montoInversion | currency }} MXN
                    </td>
                    <td>
                        {{ obra.federal | currency }} MXN
                    </td>
                    <td>
                        {{ obra.estatal | currency }} MXN
                    </td>
                    <td>
                        {{ obra.municipal | currency }} MXN
                    </td>
                    <td>
                        {{ obra.porcentajeAvance | number: '1.2-2' }}%
                    </td>
                    <td>
                        {{ obra.importePorPagar | currency }} MXN
                    </td>
                    <td>
                        <button class="btn btn-primary icon text-white" (click)="mostrarFicha(obra)">
                            Ver Ficha
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
