<section class="container-header">
  <div class="titulo-header">
    <h5>Bienvenido al portal</h5>
    <h4>OBRAS PUBLICAS SINALOA</h4>
  </div>
  <div class="desc-header">
    <h4>2,929,438,639.42 MXN</h4>
    <h6>MONTO TOTAL EJERCIDO</h6>
  </div>
</section>
<section class="map-container">
  <!-- sidebar -->
  <div class="map-sidebar map-sidebar-open">
    <div class="map-sidebar-header">
      <h6 class="header-title">Configuración</h6>
      <button class="btn btn-sm btn-gold-100 icon text-white" (click)="recargarInfo()">
        <i class="fas fa-rotate"></i>
      </button>
    </div>

    <div class="map-sidebar-body">
      <h6 class="header-title">Por Tipo de Obra</h6>
      <section class="tipo-obras">
        <div class="col-xs-10" *ngFor="let tipo of tiposObras">
          <p-inputSwitch
            [(ngModel)]="tipo.checked"
            [class]="'custom-' + tipo.color"

          ></p-inputSwitch>
          <label class="label-switch" for="switch1"
            ><i class="fas" [ngClass]="tipo.icon"></i> {{ tipo.descripcion }}</label
          >
        </div>
      </section>
      <h6 class="header-title">Por Municipio</h6>
      <section>
        <div class="form-group">
          <p-dropdown
            [options]="municipios"
            [(ngModel)]="municipioSeleccionado"
            placeholder="Seleccione..."
            optionLabel="nombre"
            [showClear]="false"
            (onChange)="recargarInfo($event)"
          ></p-dropdown>
        </div>
      </section>
      <h6 class="header-title">Por Años</h6>
      <section class="drop-years">
        <div class="form-group">
          <p-dropdown
            [options]="periodos"
            [(ngModel)]="periodoSeleccionado"
            placeholder="Seleccione..."
            optionLabel=""
            [showClear]="false"
            (onChange)="recargarInfo($event)"
          ></p-dropdown>
        </div>
      </section>
      <h6 class="header-title">Por Estatus de Obra</h6>
      <section class="estatus-obras">
        <div class="form-group">
          <p-dropdown
            [options]="estatusObras"
            [(ngModel)]="estatusObrasSeleccionado"
            placeholder="Seleccione..."
            optionLabel="descripcion"
            [showClear]="false"
            (onChange)="recargarInfo($event)"
          ></p-dropdown>
        </div>
      </section>
     <section>
      <div class="form-group float-right">
        <button class="btn btn-primary icon text-white" (click)="recargarInfo()">
        <i class="fas fa-filter"></i> Filtrar
      </button>
      </div>
     </section>
    </div>
  </div>
  <!-- end sidebar -->
  <div
    *blockUI="'map-list'"
    class="map"
    [ngClass]="{ 'map-sidebar-open': sidebarOpen, 'map-asidebar-open': asidebarOpen }"
    id="map"
  ></div>
</section>
<section class="data-container container">
  <div class="h2 data-title">Datos Abiertos</div>
  <div class="datos-abiertos row">
    <div class="col-12">
    <div class="card-deck" >
      <div class="card bg-gray-200" *ngFor="let card of cards">
        <img src="{{ './../../../assets/img/' + card.imagen }}" class="card-img-top mx-auto" alt="..." />
        <div class="card-body">
          <div class="cantidad h4 mb-0 text-center">{{ card.cantidad | number }}</div>
          <div class="text-center">
            <small class="descripcion">{{ card.descripcion }}</small>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="{{ './../../../assets/img/arrow_sq.png' }}" class="card-img-top mx-auto" alt="..." />
        <div class="card-body">
          <div class="cantidad h4 mb-0 text-center">Ver Más</div>
          <div class="text-center">
            <small class="descripcion">&nbsp;</small>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
