<section class="container-header" *ngIf="false">
  <div class="titulo-header">
    <h4>SISTEMA DE ADMINISTRACIÓN Y GESTIÓN DE PROYECTOS</h4>
  </div>
  <div class="desc-header">
    <h4>{{ montoInversion | currency }} MXN</h4>
    <h6>MONTO TOTAL EJERCIDO</h6>
  </div>
</section>
<section class="map-container">
  <div class="lista-float-2" *ngIf="montoInversion">
    <div class="contenido">
      <app-lista-elementos
        [titulo]="'Inversion Total Acumulada'"
        [enableToggle]="false"
        [totales]="montoInversion"
        [currency]="true"
        [active]="true"
      >
      </app-lista-elementos>
    </div>
  </div>

  <div class="lista-float-3" *ngIf="montoInversion">
    <div class="contenido">
      <app-lista-elementos
        titulo="{{ 'Inversion Total Ejercida ' + periodoSeleccionado.descripcion }}"
        [enableToggle]="false"
        [totales]="montoInversion"
        [currency]="true"
        [active]="true"
      >
      </app-lista-elementos>
    </div>
  </div>

  <div class="lista-float" *ngIf="listaItems.length > 0">
    <div *ngFor="let item of listaItems; let i = index">
      <app-lista-elementos
        [titulo]="item.label"
        [elementoActivo]="elementoActivo === i"
        [totales]="item.totales"
        [currency]="item.currency ? item.currency : false"
        (click)="activarElemento(i)"
      ></app-lista-elementos>
    </div>
  </div>

  <!-- sidebar -->
  <div class="map-sidebar map-sidebar-open">
    <h4 class="map-sidebar-title">SISTEMA DE ADMINISTRACIÓN Y GESTIÓN DE PROYECTOS</h4>
    <div class="map-sidebar-header">
      <h6 class="header-title">Configuración</h6>
      <div>
        <button class="btn btn-sm btn-primary icon text-white" (click)="recargarInfo()">
          <i class="fas fa-rotate"></i>
        </button>
        <button class="btn btn-sm btn-gold-100 icon text-white" (click)="configCollapsed = !configCollapsed">
          <i class="fas" [ngClass]="{ 'fa-chevron-down': !configCollapsed, 'fa-chevron-up': configCollapsed }"></i>
        </button>
      </div>
    </div>

    <div class="map-sidebar-body" [collapse]="configCollapsed">
      <h6 class="header-title">Por Tipo de Obra</h6>
      <section class="tipo-obras">
        <div class="col-xs-10" *ngFor="let tipo of tiposObras">
          <p-inputSwitch
            [(ngModel)]="tipo.checked"
            [class]="'small-input-switch p-mr-2 custom-' + tipo.color"
            (onChange)="onChangeTipoObra(tipo)"
          ></p-inputSwitch>
          <label class="label-switch" for="switch1"
            ><i class="fas" [ngClass]="tipo.icon"></i> {{ tipo.descripcion }} ({{ tipo.conteo }})
          </label>
        </div>
      </section>
      <h6 class="header-title">Por Municipio</h6>
      <section>
        <div class="form-group">
          <p-dropdown
            class="p-inputtext-sm"
            (onChange)="filtrar()"
            appendTo="body"
            [options]="municipios"
            [(ngModel)]="municipioSeleccionado"
            placeholder="Seleccione..."
            optionLabel="nombre"
            [showClear]="false"
          ></p-dropdown>
        </div>
      </section>
      <h6 class="header-title">Por Años</h6>
      <section class="drop-years">
        <div class="form-group">
          <p-dropdown
            class="p-inputtext-sm"
            (onChange)="filtrar()"
            appendTo="body"
            [options]="periodos"
            [(ngModel)]="periodoSeleccionado"
            placeholder="Seleccione..."
            optionLabel="descripcion"
            [showClear]="false"
          ></p-dropdown>
        </div>
      </section>
      <h6 class="header-title">Por Estatus de Obra</h6>
      <section class="estatus-obras">
        <div class="form-group">
          <p-dropdown
            class="p-inputtext-sm"
            (onChange)="filtrar()"
            appendTo="body"
            [options]="estatusObras"
            [(ngModel)]="estatusObrasSeleccionado"
            placeholder="Seleccione..."
            optionLabel="descripcion"
            [showClear]="false"
          ></p-dropdown>
        </div>
      </section>
      <section>
        <div class="form-group float-left">
          <button class="btn btn-primary icon text-white" (click)="descargarReporte()">
            <i class="fas fa-file-pdf"></i> Reporte
          </button>
        </div>
        <div class="form-group float-right">
          <button class="btn btn-primary icon text-white" (click)="filtrar()">
            <i class="fas fa-filter"></i> Filtrar
          </button>
        </div>
      </section>
    </div>
  </div>
  <!-- end sidebar -->
  <div
    *blockUI="'map-list'"
    class="map"
    [ngClass]="{ 'map-sidebar-open': sidebarOpen, 'map-asidebar-open': asidebarOpen }"
    id="map"
  ></div>
</section>
