<section class="container-header">
  <div class="titulo-header">
    <h5>Bienvenido al portal</h5>
    <h4>OBRAS PUBLICAS SINALOA</h4>
  </div>
  <div class="desc-header">
    <h4>2,929,438,639.42 MXN</h4>
    <h6>MONTO TOTAL EJERCIDO</h6>
  </div>
</section>
<section class="map-container">
  <!-- sidebar -->
  <div class="map-sidebar map-sidebar-open">
    <div class="map-sidebar-header">
      <h6 class="header-title">Configuración</h6>
      <button class="btn btn-sm btn-gold-100 icon text-white" (click)="toggleSidebar()">
        <i class="fas fa-rotate"></i>
      </button>
    </div>

    <div class="map-sidebar-body">
      <h6 class="header-title">Por tipo de obra</h6>

      <div class="form-group">
        <label><strong>Años</strong></label>
        <p-dropdown
          [options]="periodos"
          [(ngModel)]="periodoSeleccionado"
          placeholder="Seleccione..."
          optionLabel=""
          [showClear]="false"
          (onChange)="recargarInfo($event)"
        ></p-dropdown>
      </div>
      <hr />
      <!-- puestos -->
      <h6><strong>Puestos</strong></h6>
      <div *ngFor="let puesto of puestos" class="field-checkbox list">
        <p-radioButton
          [inputId]="puesto.nombre"
          name="puesto"
          [value]="puesto"
          [(ngModel)]="puestoSeleccionado"
          [disabled]="!periodoSeleccionado"
          (onClick)="onChangePuesto($event)"
        ></p-radioButton>
        <label [for]="puesto.nombre">{{ puesto.nombre }}</label>
      </div>
      <!-- end puestos -->
      <hr />
      <!-- municipios -->
      <p-panel
        *ngIf="puestoSeleccionado && votosMunicipio?.length > 0"
        [toggleable]="true"
        [collapsed]="panelMunicipios()"
      >
        <ng-template pTemplate="header">
          <div class="field-checkbox">
            <p-checkbox
              (onChange)="checkUncheckMunicipios()"
              [(ngModel)]="allMunicipios"
              [binary]="true"
              inputId="binary"
              name="binary"
            ></p-checkbox>
            <label for="binary"><strong>Municipios</strong></label>
          </div>
        </ng-template>
        <ng-template pTemplate="icons">
          <button class="p-panel-header-icon p-link" (click)="allMunicipios = false; checkUncheckMunicipios()">
            <i class="fas fa-trash"></i>
          </button>
        </ng-template>
        <ng-container *ngFor="let municipio of municipios; index as i">
          <div class="field-checkbox list">
            <p-checkbox
              name="group2"
              value="municipio"
              [value]="municipio"
              [(ngModel)]="municipiosSeleccionados"
              [inputId]="municipio.nombre"
              (onChange)="onChangeMunicipio($event, municipio)"
            ></p-checkbox>
            <label [for]="municipio.nombre">{{ municipio.nombre }}</label>
          </div>
        </ng-container>
      </p-panel>
      <!-- end municipios -->
      <!-- distritos -->
      <p-panel
        *ngIf="puestoSeleccionado && votosMunicipio?.length > 0"
        [toggleable]="true"
        [collapsed]="panelDistritos()"
      >
        <ng-template pTemplate="header">
          <div class="field-checkbox">
            <p-checkbox
              (onChange)="checkUncheckDistritos()"
              [(ngModel)]="allDistritos"
              [binary]="true"
              inputId="binary2"
              name="binary2"
            ></p-checkbox>
            <label for="binary2"><strong>Distritos</strong></label>
          </div>
        </ng-template>
        <ng-template pTemplate="icons">
          <button class="p-panel-header-icon p-link" (click)="allDistritos = false; checkUncheckDistritos()">
            <i class="fas fa-trash"></i>
          </button>
        </ng-template>
        <ng-container *ngFor="let distrito of distritos; index as i">
          <div class="field-checkbox list">
            <p-checkbox
              name="group3"
              [value]="distrito"
              [(ngModel)]="distritosSeleccionados"
              [inputId]="distrito.clave"
              (onChange)="onChangeDistrito($event, distrito)"
            ></p-checkbox>
            <div class="controles">
              <label [for]="distrito.clave">Distrito {{ distrito.clave }}</label>
              <button
                *ngIf="checkDistritoSelected(distrito)"
                class="btn btn-sm btn-secondary"
                (click)="mostrarSecciones(distrito)"
              >
                Secciones
              </button>
            </div>
          </div>
        </ng-container>
      </p-panel>
      <!-- end distritos -->

      <!-- secciones especiales -->
      <ng-container *ngIf="puestoSeleccionado">
        <app-secciones-especiales
          [anioSelected]="periodoSeleccionado"
          [puestoSelected]="puestoSeleccionado.id"
          (onFiltrarSecciones)="filtrarSecciones($event)"
          (onBorrar)="quitarSeccionesEspecialesLayer()"
          (onLoading)="loadingSeccionesEspeciales($event)"
        ></app-secciones-especiales>
      </ng-container>

      <!-- obras -->
      <ng-container *ngIf="municipiosSeleccionados.length > 0 || distritosSeleccionados.length > 0">
        <app-obras
          (onBorrar)="quitarObrasLayer()"
          (onFilter)="mostrarPuntosObra($event)"
          [municipiosSelected]="municipiosSeleccionados"
          [distritosSelected]="distritosSeleccionados"
        ></app-obras>
      </ng-container>
    </div>
  </div>
  <!-- end sidebar -->
  <div
    *blockUI="'map-list'"
    class="map"
    [ngClass]="{ 'map-sidebar-open': sidebarOpen, 'map-asidebar-open': asidebarOpen }"
    id="map"
  ></div>
</section>
<section class="data-container">
  <div class="h3 data-title">Datos Abiertos</div>
  <div class="col-sm-6 col-md-3">
    <div class="card bg-gray-200">
      <div class="card-body">
        <div class="icon-text text-center mb-4">
          <i class="fas fa-file-signature"></i>
        </div>
        <div class="h4 mb-0">1238</div>
        <small class="text-uppercase font-weight-bold">Products sold</small>
      </div>
    </div>
  </div>
</section>
