@import './../../../scss/bootstrap-variables';

.app-header.navbar .nav-item {
    height: 50px;
    margin-left: 10px !important;
    margin-right: 10px !important;
    .nav-link {
        line-height: 50px;
        color: $gray-300;
    }
    .nav-link:hover {
        line-height: 50px;
        color: $gray-100;
    }
}
.app-header.navbar .nav-item.active {
    border-bottom: 3px solid $gold-800;
    
    .nav-link.active {
        font-weight: 500;
        color: $white;
    }
}