@import './../../../scss/bootstrap-variables';
@import './../../../scss/core/mixins';
@import './../../../scss/core/variables';

.app-header.navbar {
    @include breakpoint('xs') {
        height: 200px !important;
    }
    @include breakpoint('md') {
        height: 110px !important;
    }
    @include breakpoint('lg') {
        height: 55px !important;
    }
}

.app-header.navbar .nav-item {
    height: 50px;
    margin-left: 10px !important;
    margin-right: 10px !important;
    .nav-link {
        line-height: 50px;
        color: $gray-300;
    }
    .nav-link:hover {
        line-height: 50px;
        color: $gray-100;
    }
}
.app-header.navbar .nav-item.active {
    border-bottom: 3px solid $gold-800;
    
    .nav-link.active {
        font-weight: 500;
        color: $white;
    }
}
::ng-deep .dropdown-menu {
   height: 300px !important;
}

.custom-list-group {
    display: flex;
    flex-direction: column;
    width: 275;
    padding-left: 0;
    margin: 0;
    list-style: none;
    height: 300px;
    @include breakpoint('xl') {
        width: 500px !important;
    }
  }

  .custom-list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
  }

  .custom-list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: $wine-800;
    border-color: $wine-800;
  }

  .result-item {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }


  .no-results-message {
    position: absolute;
    top: calc(100% + 5px); /* Ajusta el espaciado vertical entre el input y el mensaje */
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }