@import './../../../scss/bootstrap-variables';

.container.no-cursor {
  cursor:default;
}

.data-container {
    height: 80px;
    background-color:$gray-200;
    .data-title {
        margin-bottom: 10px;
    }
}
.descripcion {
    font-size: 0.75rem;
}

.card-body .title {
    padding: 10px;
    text-align: center;
}

.card.gold-500 {
    background-color: $gold-500;
    color: black;
}
.card.wine-100 {
    background-color: $gold-100;
    color: black;
}
.card.wine-50 {
    background-color: $gold-50;
    color: black;
}


.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: $wine-50;
}

.progress {
  display: flex;
  height: 0.7rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: $gray-300;
  border-radius: 1.25rem;
}

.progressbar.wine {
  background-color: $wine;
}

.progress-bar.green {
  background-color: $green;
}

.progress-bar.gold-500 {
  background-color: $gold-500;
}

.progress-bar.gold {
  background-color: $gold;
}

.card.border {
  border: 1px solid $gray-300;
}

p-table ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
  background: $wine-50;
}

p-table.odd ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(odd) {
  background: $gold-50;
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #ffffff;
  border-color: $wine-800;
  color: $wine;
}
:host ::ng-deep .p-tabview .p-tabview-nav li {
  font-size: 0.8rem;
}

.form-control.big-input {
  height: 45px;
}

.collapsed-button {
  position: absolute;
  right: 0px;
  top: 0px;
}

::ng-deep {
  .p-selectbutton .p-button.p-highlight {
    background: $gold-500;
    background-color: $gold-500;
    border-color: $gold-500;
  }

  .p-selectbutton .p-button.p-highlight:hover {
    background: $gold-500;
    border-color: $gold-500;

  }
  .p-button:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $gold-50, 0 1px 2px 0 black;
  }

  small {
    font-weight: 800;
  }
}