<ng-container *ngIf="tipoCard === 'obras' && properties">
  <div class="container content-map p-0">
    <ng-scrollbar style="height: 570px" [visibility]="'hover'">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <dl>
                <dt>Número de contrato</dt>
                <dd class="contrato">{{ properties?.numeroContrato }}</dd>
              </dl>
            </div>
            <div class="col-xs-12 col-md-4">
              <dl>
                <dt>Avance</dt>
                <dd class="avance">{{ this.properties?.porcentajeAvance }}%</dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <dl>
                <dt>Monto total contratado</dt>
                <dd class="monto">{{ (properties?.montoInversionContratada  + properties?.montoConveniosModificatorios) | currency }} MXN</dd>
              </dl>
            </div>
            <div class="col-xs-12 col-md-4">
              <dl>
                <dt>No. de licitacion</dt>
                <dd>{{ properties?.licitacion }}</dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <dl>
                <dt>Objeto</dt>
                <dd>{{ properties?.objeto }}</dd>
              </dl>
            </div>
            <div class="col-xs-12 col-md-4">
              <dl>
                <dt>Tipo Modalidad</dt>
                <dd>{{ properties?.descripcionTipoModalidad }}</dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <dl>
                <dt>Contratista</dt>
                <dd>{{ properties?.descripcionContratista }}</dd>
              </dl>
            </div>
            <div class="col-xs-12 col-md-4">
              <dl>
                <dt>Fecha de Contrato</dt>
                <dd>{{ properties?.fechaContratacion | date: 'longDate':'':'es' }}</dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <dl>
                <dt>Organismo</dt>
                <dd>{{ properties?.descripcionDependencia }}</dd>
              </dl>
            </div>
            <div class="col-xs-12 col-md-4">
              <dl>
                <dt>Tipo de Contrato</dt>
                <dd>{{ properties?.descripcionTipoContrato }}</dd>
              </dl>
            </div>
            <div class="col-xs-12 col-md-4">
              <dl>
                <dt>Origen del recurso</dt>
                <dd>{{ properties?.descripcionOrigenRecurso }}</dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <dl>
                <dt><i class="fas fa-location-dot"></i> Geolocalizacion</dt>
                <dd>
                  <a [href]="openGoogleMaps()" target="_blank">
                    <p>
                      [{{ properties?.latitud }}, {{ properties?.longitud }}] <br /><small class="text-muted"
                        >Click para abrir mapa</small
                      >
                    </p>
                  </a>
                </dd>
              </dl>
            </div>
            <div class="col-xs-12 col-md-4">
              <dl>
                <dt>Municipio</dt>
                <dd>{{ properties?.nombreMunicipio }}</dd>
              </dl>
            </div>
            <div class="col-xs-12 col-md-4">
              <dl>
                <dt>Localidad</dt>
                <dd>{{ properties?.nombreLocalidad }}</dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <dl>
                <dt>Alcances de obra</dt>
                <dd class="cuadrito">{{ properties?.informacionRelevante }}</dd>
              </dl>
            </div>
            <div class="col-xs-12 col-md-4">
              <dl>
                <dt>&nbsp;</dt>
                <dd><button class="btn btn-primary btn-block" (click)="closePopup(1)">Consultar el expediente de Obra</button></dd>
              </dl>
            </div>
            <div class="col-xs-12 col-md-2" *ngIf="properties?.idEtiqueta">
              <dl>
                <dt>&nbsp;</dt>
                <dd><button class="btn btn-primary btn-block" (click)="closePopup(2)">Tarjeta Informativa</button></dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </ng-scrollbar>
  </div>
</ng-container>
