<toaster-container></toaster-container>
<div class="app flex-row align-items-center theme-1" *blockUI="'login-section'">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card">
          <img class="mx-auto d-block card-img-top" [src]="logo" alt="Card image cap" />
          <hr />
          <div class="card-body">
            <h5 class="text-center text-muted pb-3"><strong>¡Bienvenido! </strong>Favor de Identificarse</h5>
            <form name="form" (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
              <small
                *ngIf="loginForm.controls['Usuario'].invalid && loginForm.controls['Usuario'].touched"
                class="help-block text-danger"
                >Usuario es requerido</small
              >
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input
                  type="text"
                  class="form-control form-control-lg"
                  [ngClass]="{
                    'is-invalid': loginForm.controls['Usuario'].invalid && loginForm.controls['Usuario'].touched
                  }"
                  placeholder="Usuario"
                  name="username"
                  formControlName="Usuario"
                />
              </div>
              <small
                *ngIf="loginForm.controls['Password'].invalid && loginForm.controls['Password'].touched"
                class="help-block text-danger"
                >Password es requerido</small
              >
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                </div>
                <input
                  [type]="eyeIcon ? 'password' : 'text'"
                  class="form-control form-control-lg"
                  [ngClass]="{
                    'is-invalid': loginForm.controls['Password'].invalid && loginForm.controls['Password'].touched
                  }"
                  placeholder="Password"
                  formControlName="Password"
                />
                <div class="input-group-append">
                  <span
                    style="cursor: pointer"
                    class="input-group-text"
                    (click)="eyeIcon = !eyeIcon"
                    class="input-group-text"
                  >
                    <i class="fa" [ngClass]="{ 'fa-eye': eyeIcon, 'fa-eye-slash': !eyeIcon }"></i>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-center">
                  <button [disabled]="loginForm.invalid" class="btn btn-gold px-4">Ingresar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
