<div class="animated fadeIn no-action-tools">
  <section class="data-container">
    <div class="h2 data-title">Licitaciones</div>
  </section>

  <section class="container mt-4">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="filterForm" (ngSubmit)="filtrar()">
          <div class="card shadow">
            <div class="card-body">
              <div class="row">
                <div class="form-group col-sm-6">
                  <label><strong>Buscar</strong></label>
                  <div class="input-group">
                    <input
                      appRestringirTipo="numero"
                      type="text"
                      id="name"
                      placeholder="Por número de licitacion, contrato, objeto"
                      class="form-control big-input"
                      formControlName="numeroContrato"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text bg-wine">&nbsp;<i class="fas fa-search"></i>&nbsp;</span>
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label><strong>Periodo</strong></label>
                  <p-selectButton
                    styleClass="select-wine"
                    [options]="periodos"
                    formControlName="ejercicio"
                    optionLabel="descripcion"
                    optionValue="id"
                    (onOptionClick)="filtrar()"
                  >
                  </p-selectButton>
                  <button
                    type="button"
                    (click)="collapsed = !collapsed"
                    class="collapsed-button float-right btn btn-rounded text-muted"
                  >
                    <i class="fas" [ngClass]="{ 'fa-chevron-down': !collapsed, 'fa-chevron-up': collapsed }"></i>
                  </button>
                </div>
              </div>
              <div [collapse]="!collapsed">
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label>Por tipo de obra</label>
                    <ng-select
                      (change)="filtrar()"
                      appearance="outline"
                      formControlName="idTipoObraSocial"
                      bindLabel="descripcion"
                      [items]="tiposObras"
                    >
                    </ng-select>
                  </div>
                  <div class="form-group col-sm-4">
                    <label>Por municipio</label>
                    <ng-select
                      (change)="filtrar()"
                      appearance="outline"
                      formControlName="idMunicipio"
                      bindLabel="nombre"
                      [items]="municipios"
                      bindValue="id"
                    >
                    </ng-select>
                  </div>
                  <!-- <div class="form-group col-sm-3">
                    <label>Por año</label>
                    <ng-select appearance="outline" formControlName="annio" bindLabel="descripcion" [items]="periodos">
                    </ng-select>
                  </div> -->
                  <div class="form-group col-sm-4">
                    <label>Por tipo modalidad</label>
                    <ng-select
                      (change)="filtrar()"
                      appearance="outline"
                      formControlName="idTipoModalidad"
                      bindLabel="descripcion"
                      bindValue="id"
                      [items]="tiposModalidad"
                    >
                    </ng-select>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-4">
                    <label>Por organismo</label>
                    <ng-select
                      (change)="filtrar()"
                      appearance="outline"
                      formControlName="idDependencia"
                      bindValue="id"
                      bindLabel="nombre"
                      [items]="organismos"
                    >
                    </ng-select>
                  </div>
                  <div class="form-group col-sm-4">
                    <label>Por contratista</label>
                    <ng-select
                      (change)="filtrar()"
                      appearance="outline"
                      formControlName="idContratista"
                      bindLabel="nombreCompleto"
                      bindValue="id"
                      [items]="contratistas"
                    >
                    </ng-select>
                  </div>
                  <div class="form-group col-sm-4">
                    <label>Por tipo contrato</label>
                    <ng-select
                      (change)="filtrar()"
                      appearance="outline"
                      formControlName="idTipoContrato"
                      bindLabel="descripcion"
                      bindValue="id"
                      [items]="tiposContrato"
                    >
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer clearfix">
              <div class="group-buttons float-right">
                <button class="btn btn-md btn-rounded btn-gold-100 icon text-white" type="reset" (click)="resetForm()">
                  <i class="fas fa-rotate"></i>
                </button>

                <button class="btn btn-primary" type="submit"><i class="fas fa-filter"></i> Filtrar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section class="container mt-4">
    <div class="row justify-content-md-center">
      <div class="col-xs-12 col-md-6 col-lg-4" *ngFor="let card of cardLicitaciones">
        <div class="card box shadow">
          <div class="card-body center">
            <h4 class="card-title text-primary">
              <strong>{{ card.cantidad | number }}</strong>
            </h4>
            <p class="card-text">{{ card.descripcion }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container mt-4">
    <div class="card-deck">
      <div class="card shadow">
        <div class="card-header bg-green text-center">
          <div class="h5 title">LICITACIONES POR ORGANISMO</div>
        </div>
        <div class="card-body p-0 table-responsive">
          <table class="table table-striped table-borderless">
            <thead class="thead-default">
              <tr>
                <th>&nbsp;</th>
                <th>Progreso</th>
                <th style="text-align: center">Porcentaje</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tabla1">
                <td style="width: 20%" scope="row">{{ item.nombre }}</td>
                <td style="width: 60%">
                  <div class="progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      [ngStyle]="{ width: item.progreso + '%' }"
                      [ngClass]="item.color"
                      aria-valuenow="100"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </td>
                <!-- <td><p-progressBar [value]="item.progreso" [style]="{ height: '6px' }"></p-progressBar></td> -->
                <td style="text-align: center; width: 20%">{{ item.progreso }} %</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card shadow">
        <div class="card-header bg-gold text-center">
          <div class="h5 title">EVENTOS POR ORGANISMO</div>
        </div>
        <div class="card-body p-0 table-responsive">
          <table class="table table-striped table-borderless">
            <thead class="thead-default">
              <tr>
                <th>&nbsp;</th>
                <th>Progreso</th>
                <th style="text-align: center">Porcentaje</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tabla2">
                <td style="width: 20%" scope="row">{{ item.nombre }}</td>
                <td style="width: 60%">
                  <div class="progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      [ngStyle]="{ width: item.progreso + '%' }"
                      [ngClass]="item.color"
                      aria-valuenow="100"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </td>
                <!-- <td><p-progressBar [value]="item.progreso" [style]="{ height: '6px' }"></p-progressBar></td> -->
                <td style="text-align: center; width: 20%">{{ item.progreso }} %</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class="container mt-4">
    <div class="row">
      <div class="col-12">
        <div class="card border">
          <div class="card-body">
            <p-table
              class="odd"
              [value]="licitacionesData"
              [tableStyle]="{ 'min-width': '60rem' }"
              [paginator]="true"
              [rows]="10"
              [showCurrentPageReport]="true"
              currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} registros"
              [rowsPerPageOptions]="[10, 25, 50]"
              styleClass="p-datatable-sm p-datatable-striped"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="numeroContrato" style="width: 25%">
                    Numero Contrato <p-sortIcon field="numeroContrato"></p-sortIcon>
                  </th>

                  <th pSortableColumn="objeto" style="width: 20%">Objeto <p-sortIcon field="objeto"></p-sortIcon></th>
                  <th pSortableColumn="fecha" style="width: 20%">Fecha <p-sortIcon field="fecha"></p-sortIcon></th>
                  <th pSortableColumn="monto" style="width: 20%">
                    Monto total <p-sortIcon field="monto"></p-sortIcon>
                  </th>
                  <th pSortableColumn="avance" style="width: 20%">Avance <p-sortIcon field="avance"></p-sortIcon></th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>{{ product.numeroContrato }}</td>
                  <td>
                    <div style="white-space: nowrap; width: 80px; overflow: hidden; text-overflow: ellipsis">
                      {{ product.objeto }}
                    </div>
                  </td>
                  <td>{{ product.fechaInicio | date: 'longDate':'':'es' }}</td>
                  <td style="text-align: right">{{ product.montoInversion | currency: 'USD' }}</td>
                  <td style="text-align: right">{{ product.porcentajeAvance }} %</td>
                  <td>
                    <button (click)="openModalComponent(product)" type="button" class="btn btn-sm btn-outline-gold">
                      Ver más...
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
