<p-panel [toggleable]="true" [collapsed]="true">
    <ng-template pTemplate="header">
      <label><strong>Secciones Especiales</strong></label>
    </ng-template>
    <ng-template pTemplate="header">
      <div class="field-checkbox">
        <p-checkbox
          (onChange)="checkUncheckSeccionesEspeciales()"
          [(ngModel)]="allSeccionesEspeciales"
          [binary]="true"
          inputId="binary"
          name="binary"
        ></p-checkbox>
        <label for="binary"><strong>Secciones Especiales</strong></label>
      </div>
    </ng-template>
    <ng-template pTemplate="icons">
      <button class="p-panel-header-icon p-link" (click)="allSeccionesEspeciales = false; borrarSecciones()">
        <i class="fas fa-trash"></i>
      </button>
    </ng-template>
    <ng-container>

        <div class="controles">
            <label><strong>&nbsp;</strong></label>
            <div class="filter-groups">
              <!-- <button class="btn btn-sm btn-link" (click)="borrarSecciones()"><i class="fas fa-trash"></i> Borrar</button> -->
              <button class="btn btn-sm btn-primary" (click)="filtrarSecciones()"><i class="fas fa-filter"></i> Filtrar</button>
            </div>
          </div>
    <ng-container *ngFor="let seccion of seccionesEspeciales; index as i">
    <div class="field-checkbox list">
       <p-checkbox
          name="group3"
          [value]="seccion"
          [(ngModel)]="seccionesEspecialesSeleccionadas"
          [inputId]="seccion.clave"
        ></p-checkbox>
        <label [for]="seccion.clave">Sección {{ seccion.clave }} ({{ seccion.listaNominal }})</label>
    </div>
    </ng-container>
  

      <hr />
    </ng-container>
  </p-panel>
  